<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>chinaz</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates Designed by Kimmy | zerotheme.com">
	<meta name="author" content="sc.chinaz.com">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="../css/zerogrid.css">
	<link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	
	<link href='../images/favicon.ico' rel='icon' type='image/x-icon'/>
    
</head>
<body>
<div class="wrap-body">
<!--------------Header--------------->
<header>
	<div class="wrap-header zerogrid">
        <div class="login"><a href="../admin/index.php"> <?php if(isset($_SESSION['username'])) {
              echo $_SESSION['username'].'<a class="loadover" href="../loadover.php">注销</a>'; } else {
            ?>
            </a></div>
        <div class="login"><a href="login.php"><?php echo "登录"; } ?></a> </div>
		<div id="logo"><a href="http://sc.chinaz.com"><img src="../images/9-1.jpg"/></a></div>
		<nav>
			<div class="wrap-nav">
				<div class="menu">
					<ul>
                        <li><a href="index.php">正房</a></li>
                        <li><a href="article.php">精彩文章</a></li>
                        <li><a href="Message-Board.php">留下爪子</a></li>
                        <li><a href="about-me.php">关于我</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>

<!--------------Content--------------->
<section id="content">
	<div class="wrap-content zerogrid">
		<div class="row block">
			<div id="main-content" class="col-2-3">
				<div class="row">
					<div class="col-full">
						<div class="wrap-col">

							<article>
                                <form id="contact-form" method="post">
                                    <label><input class="inputs" name="name" value="<?php echo $row['name'] ?>" /></label>
                                    <textarea rows="50" cols="80px" class="inputr" name="content"><?php echo $row['content'] ?></textarea>
                                    <div class="info">  <label><input class="inputs" name="lastdate" value="<?php echo '最后编辑时间为'. $row['lastdate'] ?>" /></label></div>
                                    <div class="buttons">
                                    <INPUT class="inpute" TYPE="submit" name="submit" value="修改" />
                                </div>
									    </fieldset>

                                </form>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--------------Footer--------------->
<footer>
	<div class="wrap-footer zerogrid"></div>
	<div class="copyright">
		<p>&copy; Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
	</div>
</footer>

</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>