body {
    font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}
#login {
    width: 320px;
    margin: 7em auto;
}
div {
    display: block;
}
body, #wpbody, .form-table .pre {
    color: #333;
}
* {
    margin: 0;
    padding: 0;
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h1 a {
    background: url(/images/9.jpg) no-repeat top center;
    width: 290px;
    height: 60px;
    text-indent: -9999px;
    overflow: hidden;
    padding-bottom: 15px;
    display: block;
}
#login form p {
    margin-bottom: 0;
}
form p {
    margin-bottom: 24px;
}
form .forgetmenot {
    font-weight: normal;
    float: left;
    margin-bottom: 0;
}
form .submit {
    float: right;
}
.submit {
    border-color: #DFDFDF;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

form {
    margin-left: 8px;
    padding: 16px 16px 40px 16px;
    font-weight: normal;
    -moz-border-radius: 11px;
    -khtml-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e5e5e5;
    -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
    -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
    -khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
    box-shadow: rgba(200,200,200,1) 0 4px 18px;
}
form {
    display: block;
    margin-top: 0em;
}
body, #wpbody, .form-table .pre {
    color: #333;
}
body.login {
    border-top-color: #464646;
}
body {
    border-top-width: 30px;
    border-top-style: solid;
    font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}
.form .submit input {
    border-color: #298cba !important;
    font-weight: bold;
    color: #FFF !important;
    background: #21759B
}
#login form .submit input {
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    padding: 3px 10px;
    border: none;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 11px;
    -khtml-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    cursor: pointer;
    text-decoration: none;
    margin-top: -3px;
    text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
}
#user_login, #user_pass {
    font-size: 24px;
    width: 97%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #D8D8D8;
    background: #fbfbfb;
}
.login .ss
{
    width: 298;
    height: 60px;
    padding: 15px;
}